
<!DOCTYPE html>
<html lang="en">

<div th:replace="~{fragments/head :: head}"></div>

<body class="">
<div class="wrapper ">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <a href="./dashboard" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="../assets/img/logo-board.png">
        </div>
        <!-- <p>CT</p> -->
      </a>
      <a href="./dashboard" class="simple-text logo-normal">
        게시판
        <!-- <div class="logo-image-big">
          <img src="../assets/img/logo-big.png">
        </div> -->
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li th:classappend="${currentBoard == 'all' ? 'active' : ''}">
          <a href="/boards/board">
            <i class="nc-icon nc-bank"></i>
            <p>전체 게시판</p>
          </a>
        </li>
        <li th:classappend="${currentBoard == 'freedom' ? 'active' : ''}">
          <a href="/boards/자유게시판">
            <i class="nc-icon nc-diamond"></i>
            <p>자유 게시판</p>
          </a>
        </li>
        <li th:classappend="${currentBoard == 'dev' ? 'active' : ''}">
          <a href="/boards/개발게시판">
            <i class="nc-icon nc-bell-55"></i>
            <p> 개발 게시판</p>
          </a>
        </li>
        <li th:classappend="${currentBoard == 'daily' ? 'active' : ''}">
          <a href="/boards/일상게시판">
            <i class="nc-icon nc-single-02"></i>
            <p> 일상 게시판</p>
          </a>
        </li>
        <li th:classappend="${currentBoard == 'incident' ? 'active' : ''}">
          <a href="/boards/사건사고게시판">
            <i class="nc-icon nc-tile-56"></i>
            <p>사건사고 게시판</p>
          </a>
        </li>
      </ul>
    </div>

  </div>
  <div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <div class="navbar-toggle">
            <button type="button" class="navbar-toggler">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
          <a class="navbar-brand" href="javascript:;">Paper Dashboard 2</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <form>
            <div class="input-group no-border">
              <input type="text" value="" class="form-control" placeholder="Search...">
              <div class="input-group-append">
                <div class="input-group-text">
                  <i class="nc-icon nc-zoom-split"></i>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="content">
      <div  th:unless="${boardList.isEmpty()}">
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>TITLE</th>
                <th>BOARD</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article : ${boardList}">
                <td>[[${article.id}]]</td>
                <td><a th:href="@{/articles/{id} (id=${article.id})}">[[${article.title}]]</a></td>
                <td>[[${article.articleType}]]</td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
    <footer class="footer footer-black  footer-white ">
      <div class="container-fluid">
        <div class="row">
          <nav class="footer-nav">
            <ul>
              <li><a href="https://www.creative-tim.com" target="_blank">Creative Tim</a></li>
              <li><a href="https://www.creative-tim.com/blog" target="_blank">Blog</a></li>
              <li><a href="https://www.creative-tim.com/license" target="_blank">Licenses</a></li>
            </ul>
          </nav>
          <div class="credits ml-auto">
              <span class="copyright">
                © <script>
                  document.write(new Date().getFullYear())
                </script>, made with <i class="fa fa-heart heart"></i> by NT Hoang
              </span>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
<!--   Core JS Files   -->
<script src="../assets/js/core/jquery.min.js"></script>
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap.min.js"></script>
<script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="../assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="../assets/demo/demo.js"></script>
<script>
  $(document).ready(function() {
    // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
    demo.initChartsPages();
  });
</script>
</body>

</html>
