<aside class="main-sidebar" th:fragment="sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->

        <ul class="sidebar-menu" data-widget="tree">

            <li>
                <a href="/boards/board">
                    <i class="fa fa-th"></i> <span>전체 게시판</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>

            <li>
                <a href="/boards/자유게시판">
                    <i class="fa fa-th"></i> <span>자유 게시판</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>

            <li>
                <a href="/boards/개발게시판">
                    <i class="fa fa-th"></i> <span>개발 게시판</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>

            <li>
                <a href="/boards/일상게시판">
                    <i class="fa fa-th"></i> <span>일상 게시판</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>

            <li>
                <a href="/boards/사건사고게시판">
                    <i class="fa fa-th"></i> <span>사건사고 게시판</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>