<aside class="main-sidebar" th:fragment="sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->

        <ul class="sidebar-menu" data-widget="tree">

            <li>
                <a href="/boards/board">
                    <i class="fa fa-th"></i> <span>전체 게시판</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>

            <li>
                <a href="/boards/자유게시판">
                    <i class="fa fa-th"></i> <span>자유 게시판</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>

            <li>
                <a href="/boards/개발게시판">
                    <i class="fa fa-th"></i> <span>개발 게시판</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>

            <li>
                <a href="/boards/일상게시판">
                    <i class="fa fa-th"></i> <span>일상 게시판</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>

            <li>
                <a href="/boards/사건사고게시판">
                    <i class="fa fa-th"></i> <span>사건사고 게시판</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>