<!DOCTYPE html>
<html xmlns: th="http://.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

    <div th:replace="~{fragments/header :: header}"></div>

    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box">

                <div class="box">
                    <div class="box-body" >
                        <h1>Search results for: <span th:text="${returnBoardType}">[[${returnBoardType}]]</span>< /h1>
                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap"><div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row"><div class="col-sm-12" th:if="${not #lists.isEmpty(articles)}"><table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                            <tbody>
                                <tr>
                                    <th>#</th>
                                    <th>TITLE</th>
                                    <th>CONTENT</th>
                                </tr>
                                </tbody>
                                <tbody>
                                <tr th:each="article : ${articles}">
                                    <td>[[${article.id}]]</td>
                                    <td><a th:text="${article.title}">[[${article.title}]]</a></td>
                                    <td><a th:text="${article.content}">[[${article.content}]]</a></td>
                                </tr></tbody>
                        </table>
                            <div th:if="${#lists.isEmpty(articles)}">
                                <h1>해당 데이터가 업습니다</h1>
                            </div>
                    </div>

                </div>    

            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<div th:replace="~{fragments/script :: script}"></div>
</body>
</html>
